<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Welcome : Books for Aggies</title>


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"><!-- Google web font "Open Sans", https://www.google.com/fonts/specimen/Open+Sans -->
  <link rel="stylesheet" href="font-awesome.min.css"> <!-- Font Awesome, https://fortawesome.github.io/Font-Awesome/ -->
  <link rel="stylesheet" href="bootstrap.min.css">                       <!-- Bootstrap style, http://v4-alpha.getbootstrap.com/ -->
  <link rel="stylesheet" href="find.css">                    <!-- Templatemo style -->


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>

  <![endif]-->
</head>

<body>
<header class="header">
  <div class="header__wrapper">
    <div class="header__hamburger">
      <div class="header__hamburger-block">&nbsp;</div>
      <div class="header__hamburger-block">&nbsp;</div>
      <div class="header__hamburger-block">&nbsp;</div>
    </div>
    <nav class="header__navigation">
      <a href="/" >
        <div class="js-smooth-scroll  header__navigation-element">Explore...</div>
      </a>
      <a href="/home/book" >
        <div class="header__navigation-element  header__navigation-element--experience">Share Book...</div>
      </a>
      <a href="/find" >
        <div class="header__navigation-element  header__navigation-element--features">Find a Book...</div>
      </a>
      <% if @loginTab!='Login/Signup' %>
          <a href='/show/books' >
            <div class="header__navigation-element  header__navigation-element--realizations">My Books</div>
          </a>
          <a href='/show/notifications' >
            <div class="header__navigation-element  header__navigation-element--realizations">Notifications...</div>
          </a>
      <% end %>
      <a href="#realizations" class="js-smooth-scroll">
        <div class="header__navigation-element  header__navigation-element--realizations">About Us...</div>
      </a>
      <a href="#contact" class="js-smooth-scroll">
        <div class="header__navigation-element  header__navigation-element--contact">Contact...</div>
      </a>
    </nav>

    <a href="/" class="header__title-wrapper">
      <div class="header__title-main">Books for Aggies</div>
      <div class="header__title-sub"></div>
    </a>
    <a href="/" class="header__title-wrapper_center">
      <img class="logo" src="logo.svg">
      <div class="header__title-sub"></div>
    </a>

        <a href="/find/users" class="header__title-wrapper_right">
          <div class="header__title-main"><%= @loginTab %></div>
        </a>
    <% if @loginTab=='Login/Signup' %>
        <a href="/find/users" class="header__title-wrapper_right">
          <div class="header__title-main"><%= @loginTab %></div>
        </a>

    <% else %>

        <a href="/find/users" class="header__title-wrapper_right">
          <div class="header__title-main"><%= @loginTab %></div>
        </a>
    <% end %>





  </div>
</header>

<div class="container-fluid" id="home">

  <div class="row">

    <section class="tm-section-intro">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="tm-wrapper-center">
          <p class="tm-section-intro-title">Search for your book is a click away</p>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
            <form action="/find" method="get" class="tm-contact-form">
              <div class="form-group ">
                <input type="text" id="search" name="search" class="form-control" value="<%= @tag %>" placeholder="Start typing here..."  required/>
              </div>


              <button type="submit" class="btn tm-bordered-btn pull-xs-right">Submit</button>
            </form>
          </div>

        </div>
      </div>
    </section>

  </div>
  <div class="row">

      <section>


  <div class="entry-border">
        <% @books.each do |book| %>
                <% link = "/show/#{book.id}/show" %>
                <h2><a href="<%= link %>" class="book-title"><%= book.title %></a></h2>
                <p class="book-subtitle">Author : <%= book.author %></p>
                <p class="book-subtitle">Edition : <%= book.edition %></p>
                <p class="book-subtitle">Category : <%= book.category %></p>
                <p class="book-subtitle">ISBN Number : <%= book.isbn_no %></p>
                <p class="book-subtitle">Edition : <%= book.edition %></p>
                <p class="book-subtitle">Description : <%= book.descriptors %></p>

              <br>
            <% end %>
  </div>

      </section>
  </div>


</div>

  <script src="jquery-1.11.3.min.js"></script>             <!-- jQuery, https://jquery.com/download/ -->
  <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> <!-- Tether for Bootstrap, http://stackoverflow.com/questions/34567939/how-to-fix-the-error-error-bootstrap-tooltips-require-tether-http-github-h -->
  <script src="bootstrap.min.js"></script>                 <!-- Bootstrap, http://v4-alpha.getbootstrap.com/ -->
  <script src="jquery.touchSwipe.min.js"></script>         <!-- http://labs.rampinteractive.co.uk/touchSwipe/demos/ -->
  <script src="velocity.min.js"></script>
  <script src="dependencies.min.js"></script>

  <script>

      $(document).ready(function(){

          /* Smooth Scrolling
           * https://css-tricks.com/snippets/jquery/smooth-scrolling/
          --------------------------------------------------------------*/
          /*$('a[href*="#"]:not([href="#"])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
                  && location.hostname == this.hostname) {

                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');

                  if (target.length) {

                      $('html, body').animate({
                          scrollTop: target.offset().top
                      }, 1000);
                      return false;
                  }
              }
          });*/
          // Select all links with hashes
          $(".js-smooth-scroll").click(function(event) {
              event.preventDefault();

              var ThisHref = $(this).attr("href");
              //var HeaderHeight = $(".header").height();
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              $( ThisHref ).velocity("scroll", {
                  duration: 500,
                  //offset: -HeaderHeight,
                  easing: "ease",

                  begin: function() {
                      $(window).on("mousewheel", function(event) {
                          return false;
                      });
                  },

                  complete: function() {
                      $(window).off("mousewheel");
                      var $target = $(ThisHref);
                      $target.focus();
                      if ($target.is(":focus")) { // Checking if the target was focused
                          return false;
                      } else {
                          $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                          $target.focus(); // Set focus again
                      };
                  }
              });

              //window.location.hash = ThisHref;
          });
          /*
          $('a[href*="#"]')
          // Remove links that don't actually link to anything
              .not('[href="#"]')
              .not('[href="#0"]')
              .click(function(event) {
                  // On-page links
                  if (
                      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                      &&
                      location.hostname == this.hostname
                  ) {
                      // Figure out element to scroll to
                      var target = $(this.hash);
                      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                      // Does a scroll target exist?
                      if (target.length) {
                          // Only prevent default if animation is actually gonna happen
                          event.preventDefault();
                          $('html, body').animate({
                              scrollTop: target.offset().top
                          }, 1000, function() {
                              // Callback after animation
                              // Must change focus!
                              var $target = $(target);
                              $target.focus();
                              if ($target.is(":focus")) { // Checking if the target was focused
                                  return false;
                              } else {
                                  $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                                  $target.focus(); // Set focus again
                              };
                          });
                      }
                  }
              });*/
          $(".header__hamburger").click(function(event) {
              $(".header__navigation").fadeToggle(100);
              event.stopPropagation();
          });

          $(".header__navigation").click(function(event) {
              event.stopPropagation();
          });

          $("html, .header__navigation a").click(function(event) {
              $(".header__navigation").slideUp(100);
          });
          /* Enable swiping for tablets and mobile
           * http://lazcreative.com/blog/adding-swipe-support-to-bootstrap-carousel-3-0/
           ---------------------------------------------------------------------------------*/
          if($(window).width() <= 991) {
              $(".carousel-inner").swipe( {
                  //Generic swipe handler for all directions
                  swipeLeft:function(event, direction, distance, duration, fingerCount) {
                      $(this).parent().carousel('next');
                  },
                  swipeRight: function() {
                      $(this).parent().carousel('prev');
                  },
                  //Default is 75px, set to 0 for demo so any distance triggers swipe
                  threshold:0
              });
          }

          /* Handle window resize */
          $(window).resize(function(){
              if($(window).width() <= 991) {
                  $(".carousel-inner").swipe( {
                      //Generic swipe handler for all directions
                      swipeLeft:function(event, direction, distance, duration, fingerCount) {
                          $(this).parent().carousel('next');
                      },
                      swipeRight: function() {
                          $(this).parent().carousel('prev');
                      },
                      //Default is 75px, set to 0 for demo so any distance triggers swipe
                      threshold:0
                  });
              }
          });

      });

  </script>


</body>
</html>